<a href="/a">a</a>
<a href="/b">b</a>

<form action="/door" method="get">
  <select name="option">
    <option>1</option>
    <option>2</option>
    <option>3</option>
  </select>

  <button>GO!</button>
</form>