<h2><%= @student.first_name %></h2>
<h3>Courses</h3>
<ul>
  <% @courses.each do |course| %>
    <li>
      <a href="/courses/<%= course['id'] %>">
        <%= course['name'] %>
      </a>
    </li>
  <% end %>
</ul>
