<h2>FAQs</h2>

<h3>Why does this site exist?</h3>
<blockquote>It's in the curriculum.</blockquote>

<h3>How can I give you money?</h3>
<blockquote>Stripe and PayPal integration are <strong>COMING SOON</strong></blockquote>
