<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>General Assembly News And Gossip Site</title>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

  <div id="container">

    <nav>
      <a href="/">Home</a>
      <a href="/contact">Contact</a>
      <a href="/news">News</a>
      <a href="/gossip">Gossip</a>
    </nav>

    <aside>
      <section>
        <h3>Product Recall</h3>
        <p>WDI Graduation Certificates recalled -- highly explosive</p>
      </section>

      <section>
        <h3>Product Recall</h3>
        <p>WDI Graduation Certificates recalled -- highly explosive</p>
      </section>

      <section>
        <h3>Product Recall</h3>
        <p>WDI Graduation Certificates recalled -- highly explosive</p>
      </section>

      <section>
        <h3>Product Recall</h3>
        <p>WDI Graduation Certificates recalled -- highly explosive</p>
      </section>
    </aside>

    <article>
      <%= yield %>
    <article>

  </div>

</body>
</html>