<form action="/result" method="get">
  <input name="first" type="number" placeholder="first operand">
  <input name="operator" placeholder="operator (+ or *)">
  <input name="second" type="number" placeholder="second operand">

  <input type="submit" value="Calculate!">
</form>
