<form action="/butterflies/create" method="post">
  <p>
    <label for="name">Name: </label>
    <input type="text" name="name" id="name">
  </p>

  <p>
    <label for="family"></label>
    <input type="text" name="family" id="family">
  </p>

  <p>
    <label for="photo"></label>
    <input type="url" name="photo" id="photo">
  </p>

  <button>Create butterfly!</button>
</form>