<% if @symbol && @price.present? && @price > 0 %>
  <h2><%= @symbol %> last traded at $<%= @price %></h2>
<% end %>

<form action="/stock" method="get">
  <input name="symbol" type="text" placeholder="Enter symbol">

  <input type="submit" value="Capitalism!">
</form>

<%= user.upcase %>