<!DOCTYPE html>
<html>
<head>
  <title>Handlebarsblog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script id="post" type="text/x-handlebars-template">
  {{#each posts}}
  <div class="post">
    <p>
      <strong>Title:</strong>
      {{ this.title }}
    </p>

    <p>
      <strong>Author:</strong>
      {{ this.author }}
    </p>

    <p>
      <strong>Content:</strong>
      {{ this.content }}
    </p>

    <hr>
  </div>
  {{/each}}
</script>

</body>
</html>
