<form action="/action" method="get">
  <input type="text" name="theologian" placeholder="Enter your favourite theologian">
  <input type="submit" value="Submit">
</form>

<hr>

<form action="/action?color=neon+hot+pink" method="post">
  <input type="color" name="color">
  <input type="submit" value="Send color">
</form>

