<div id="main">
</div>

<script id="appView" type="text/x-underscore-template">
  <h1>Recent Posts</h1>
  <ul id="posts"></ul>
</script>

<script id="postListView" type="text/x-underscore-template">
  <a href="#posts/{{ id }}">{{ title }}</a>
</script>

<script id="postView" type="text/x-underscore-template">
  <div class="post">
    <h1 class="title">{{ title }}</h1>
    <div class="content">
      {{ content }}
    </div>
    <hr>
    <form id="commentForm">
      <p>
        <textarea placeholder="Your insight goes here" id="comment"></textarea>
      </p>
      <p>
        <input placeholder="Your name" id="author">
      </p>
      <p>
        <button>Submit comment</button>
      </p>
    </form>
    <div class="comments">
    </div>
  </div>
</script>

<script id="commentView" type="text/x-underscore-template">
  <hr>
  <blockquote>
    <p>
      {{ content }}
    </p>
    <cite>{{ author }}</cite>
  </blockquote>
</script>
