hello world

<button id="number_getter">Get a number</button>
<span id="number">Your number will appear here</span>

<form id="contact" method="post" action="/greeter">
  <input id="first" name="first" placeholder="first name">
  <input name="surname" placeholder="surname">

  <button>Submit</button>
</form>


