<form action="/" method="post">
  <input type="text" name="company" placeholder="Company name">
  <input type="text" name="service" placeholder="Service provided">
  <input type="text" name="cost" placeholder="Cost">
  <input type="submit" value="Save receipt">
</form>