<p>Please contact us via the form below</p>

<form action="/contact" method="post">
  <p>
    <input type="text" name="name" placeholder="Your name here">
  </p>
  <p>
    <textarea placeholder="Your message here" name="message"></textarea>
  </p>
  <input type="submit" value="Send!">
</form>
