<div class="welcome">
  <p id="intro">Welcome to our HTTP Verbs demo.</p>
  <p><a href="/contact">Contact</a></p>
  <p><a href="http://localhost:4567/processform?name=Jonesy&message=A+message+from+Jonesy&key=value">Skip straight to processing the form</a></p>
</div>
